llama-index-embeddings-azure-openai
llama-index
llama-index-llms-azure-openai
ipykernel
python-dotenv
tensorflow
trulens-eval
utils
nest_asyncio
sentence-transformers
faiss-cpu # for faiss in cpu, there is faiss in CUDA also
langchainhub
langchain
ipywidgets # for better jupyter visualization
stremalit # As application
langchain_pinecone # For PineconeDB
langchain-community 